<footer class="bg-primary text-white mt-3">
    <div class="text-center p-3">
    &copy; Benin Fintech ~ Novembre 2021 ~ <%= Date.today.year %> | <a class="text-white" href="http://bit.ly/EmiG">About Me</a>
    </div>
</footer>
<%# Copyright © <script></script> Magento. All rights reserved. %>
<%# <div class="col-xs-12 col-md-12 copyright">Copyright © 2021&nbsp;Alice Pittavino | Tous droits réservés. | <a href="/mentions-legales">Mentions légales</a></div> %>